.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }

  .bottomleft {
    position: absolute;
    bottom: 48px;
    left: 16px;
    font-size: 18px;
  }

  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }