.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }

  .bottomleft {
    position: absolute;
    bottom: 44px;
    left: 40px;
    font-size: 18px;
  }

  .topright {
    position: absolute;
    top: 8px;
    right: 40px;
    font-size: 18px;
  }

  .topleft {
    position: absolute;
    top: 44px;
    left: 40px;
    font-size: 18px;
  }

  .center {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /*whatever width you want*/
  }

  .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0);
    }

    .mapboxgl-popup-close-button {
      display: none;
    }
    
    .mapboxgl-popup-content {
      /* border-radius: 80px;
      font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif; */
      /* background: url(../img/thumbnailCummings.png) 0 0; */
      /* padding: 6px;
      
      width: 178px; */
      box-shadow: none;
      height: 150px;
      background: rgba(0,0,0,0);
    }
    
    .mapboxgl-popup-content-wrapper {
      padding: 1%;
      background: rgba(0,0,0,0);
    }

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color:  rgba(0,0,0,0);
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color:  rgba(0,0,0,0);
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color:  rgba(0,0,0,0);
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color:  rgba(0,0,0,0);
    }

    .mapboxgl-ctrl-logo {
      display: none !important;
  }